.box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 200px;
    height: 200px;

    background-color: lightblue;

    border: 0;
    border-radius: 20px;
}